body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.nasa-navbar {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  display: flex;
}

.nasa-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nasa-navbar li {
  margin-right: 20px;
}

.nasa-navbar a {
  text-decoration: none;
  color: #F2F2F2;
  transition: color 0.2s;
}

.nasa-navbar a:hover {
  color: #F25C54;
}

.mars-slideshow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mars-photo-container {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 3px solid #1C7293; /* Updated */
  box-sizing: border-box;
  background-color: #0D2238; /* Added */
}

.mars-photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.mars-photo--loaded {
  opacity: 1;
}

.mars-slideshow-button {
  background-color: #1C7293; /* Updated */
  border: none;
  font-size: 2rem;
  color: #F2F2F2; /* Updated */
  cursor: pointer;
  padding: 0 15px;
  user-select: none;
  transition: background-color 0.2s; /* Updated */
}

.mars-slideshow-button:hover {
  background-color: #F25C54; /* Updated */
}

#mars-weather {
  width: 100%;
  max-width: 800px;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  margin: 0 auto;
}

#mars-weather-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mars-ps {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.canva-presentation {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  padding-top: 5%;
}

.canva-presentation iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: default !important;
}
