
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  font-size: 15px;
  padding: 10px 20px;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #F2F2F2;
  transition: color 0.2s;
}

label, input, button {
  margin: 10px;
}

#results {
  margin-top: 20px;
  color: white;
}

h1 {
  color: white;
}

label {
  color: white;
}

input[type="date"] {
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#submit-button {
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #F5A623;
}