body {
  background-color: #0D2238;
  font-family: 'Arial', sans-serif;
  color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.nasa-navbar {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  display: flex;
}

.nasa-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nasa-navbar li {
  margin-right: 20px;
}

.nasa-navbar a {
  text-decoration: none;
  color: #F2F2F2;
  transition: color 0.2s;
}

.nasa-navbar a:hover {
  color: #F25C54;
}

.credits {
  display: inline;
  font-family: monospace;
  font-size: 35px;
  writing-mode: vertical-lr;
  background: linear-gradient(to right, white, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nasa {
  vertical-align: text-bottom;
  display: inline;
  width: auto;
  height: auto;
  max-width: 200px;
  padding: 20px;
}

.creditsText {
  color: #1C7293;
}

.aboutLinks {
  text-align: center;
  width: 75%;
  float: center;
  background-color: black;
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, black, #1C7293) 1;

  /* border: 5px solid #1C7293; */
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  margin: auto;
}