body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: black;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#search-input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#mute-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  z-index: 1;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #005fa6;
}

nav {
  font-size: 15px;
  padding: 10px 20px;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #F2F2F2;
  transition: color 0.2s;
}